<head>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="shortcut icon" href="/Imagem/Logo.png" type="image/x-icon">
</head>
<header>
  <div class="logo"> 
    <img src="/Imagem/Logo.png" alt="Logo da Pet's Parceiros">
<a class="brand" href="/pages/home.html">PARCEIROS <BR> PETS</BR></a>
  </div>
  <nav class="navigation" id="navMenu" bevan="Menu principal">
      <ul class="navigation-items">
          <li><a href="/pages/sobre.html"">SOBRE NÓS</a></li>
          <li><a href="/pages/adotar.html">ADOTAR</a></li>
          <li><a href="/pages/doacao.html">DOAÇÃO</a></li>
          <li><a href="/pages/voluntario.html">VOLUNTARIO</a></li>
      </ul>
      <div className="icons">
        <a href="/pages/cadastro.html"><img src="/Imagem/Perfil.svg" alt="Perfil" /></a>
        <button class="menu-btn" aria-label="Abrir menu">
          <img src="/Imagem/Menu.svg" alt="Abrir Menu" id="menuToggle"> <!-- Ícone de menu (hamburguer) -->
      </button>
      </div>
  </nav>
</header>
<script src="/js/navbar.js"></script>
