.card-saved {
  margin-bottom: 1.5rem;
}

.card-saved h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.8rem;
}

.saved {
  background: #f7faf9;
  color: #666;
}

.input-row {
  display: flex;
  gap: 1rem;
}

.input-col {
  flex: 1;
}

@media (max-width: 400px) {
  .input-row {
      flex-direction: column;
      gap: 0.5rem;
  }
}