<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parceiros Pets</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="shortcut icon" href="../Imagem/Logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../Imagem/Logo.png" alt="Logo da Pet's Parceiros">
            <a class="brand" href="../pages/home.html">PARCEIROS <br>PETS</a>
        </div>
        <nav class="navigation" id="navMenu" aria-label="Menu principal">
            <ul class="navigation-items">
                <li><a href="../pages/sobre.html">SOBRE NÓS</a></li>
                <li><a href="../pages/NossosParceiros.html">ADOTAR</a></li>
                <li><a href="../pages/doacao.html">DOAÇÃO</a></li>
                <li><a href="../pages/voluntario.php">VOLUNTARIO</a></li>
                <li><a href="../pages/Contato.html">CONTATO</a></li>
            </ul>
            <div class="icons">
                <a href="../pages/cadastro.php"><img src="../Imagem/Perfil.svg" alt="Perfil" /></a>
                <button class="menu-btn" aria-label="Abrir menu" id="menuToggle">
                    <img src="../Imagem/Menu.svg" alt="Abrir Menu"> <!-- Ícone de três pontos ou hamburguer -->
                </button>
                <!-- Dropdown Menu -->
                <div class="dropdown-menu" id="dropdownMenu">
                    <ul class="navigation-dropdown">
                        <li><a href="../pages/sobre.html">SOBRE NÓS</a></li>
                        <li><a href="../pages/NossosParceiros.html">ADOTAR</a></li>
                        <li><a href="../pages/doacao.html">DOAÇÃO</a></li>
                        <li><a href="../pages/voluntario.php">VOLUNTARIO</a></li>
                        <li><a href="../pages/Contato.html">CONTATO</a></li>
                    </ul>
                    <a href="../pages/config.html">Configurações da Conta</a>
                    <a href="#" id="logout">Sair da Conta</a>
                </div>
            </div>
        </nav>
    </header>
 
</body>
</html>